{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "error",
    //"quotes": ["error", "single"],
    "max-len": ["error",
      {
        "code": 500,
        "comments": 200
      }
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1,
        "FunctionDeclaration": {
          "parameters": "first"
        },
        "FunctionExpression": {
          "parameters": "first"
        }
      }],
    "eol-last": ["error", "always"],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}

//"off" means 0 (turns the rule off completely)
//"warn" means 1 (turns the rule on but won't make the linter fail)
//"error" means 2 (turns the rule on and will make the linter fail)
